// Fonts
$regular: "FranklinGothicBookC", sans-serif;
$demi: "FranklinGothicDemiC", sans-serif;
$medium: "FranklinGothicMediumC", sans-serif;
$heavy: "FranklinGothicHeavyC", sans-serif;

// Colors
$pink: #E95B99;
$blue: #42A2D6;
$dark: #4D4D4D;
$light: #E5E5E5;
$white: #ffffff;
