<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Миюши</title>
	//= includes/head.html
</head>

<body>
	
	//= ../blocks/header/header.html

	//= ../blocks/navbar/navbar.html

	//= ../blocks/banner/banner.html

	//= ../blocks/services/services.html

	//= ../blocks/about-company/about-company.html

	//= ../blocks/reviews/reviews.html

	//= ../blocks/footer/footer.html

	//= ../blocks/svg-sprite/svg-sprite.
	
	//= includes/scripts.html

</body>

</html>