@font-face {
	font-family: 'FranklinGothicMediumC';
	src: url('../../fonts/FranklinGothicMediumC/FranklinGothicMediumC.eot');
	src: url('../../fonts/FranklinGothicMediumC/FranklinGothicMediumC.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/FranklinGothicMediumC/FranklinGothicMediumC.woff2') format('woff2'),
		url('../../fonts/FranklinGothicMediumC/FranklinGothicMediumC.woff') format('woff'),
		url('../../fonts/FranklinGothicMediumC/FranklinGothicMediumC.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FranklinGothicHeavyC';
	src: url('../../fonts/FranklinGothicHeavyC/FranklinGothicHeavyC.eot');
	src: url('../../fonts/FranklinGothicHeavyC/FranklinGothicHeavyC.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/FranklinGothicHeavyC/FranklinGothicHeavyC.woff2') format('woff2'),
		url('../../fonts/FranklinGothicHeavyC/FranklinGothicHeavyC.woff') format('woff'),
		url('../../fonts/FranklinGothicHeavyC/FranklinGothicHeavyC.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'FranklinGothicDemiC';
	src: url('../../fonts/FranklinGothicDemiC/FranklinGothicDemiC.eot');
	src: url('../../fonts/FranklinGothicDemiC/FranklinGothicDemiC.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/FranklinGothicDemiC/FranklinGothicDemiC.woff2') format('woff2'),
		url('../../fonts/FranklinGothicDemiC/FranklinGothicDemiC.woff') format('woff'),
		url('../../fonts/FranklinGothicDemiC/FranklinGothicDemiC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FranklinGothicBookC';
	src: url('../../fonts/FranklinGothicBookC/FranklinGothicBookC.eot');
	src: url('../../fonts/FranklinGothicBookC/FranklinGothicBookC.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/FranklinGothicBookC/FranklinGothicBookC.woff2') format('woff2'),
		url('../../fonts/FranklinGothicBookC/FranklinGothicBookC.woff') format('woff'),
		url('../../fonts/FranklinGothicBookC/FranklinGothicBookC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
